name: tenants

services:
  postgres:
    image: postgres:15
    container_name: postgres-container
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: adminn
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: